body {
  padding-top: 50px;
  padding-right: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
form label {
	color: #E5E4E2;
	font: 14px
}
.visible {
	color: #E5E4E2;
}
#title {
	color: #E5E4E2;
}
#strapline {
	color: #BCC6CC;
}
table {
	color: #BCC6CC;
}
.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #882601; // Choose your own color here
 }

.full-background {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}
.vertical-center {
  /*min-height: 65%;   Fallback for browsers do NOT support vh unit */
  /*min-height: 65vh;  These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}
.btn-primary{
	background-color: #813772;
}
.btn-primary:hover{
	background-color: #882601;
}
body{
	background-color: #062f4f;
}
a{
	color: #813772;
}
a:hover{
	color: #882601;
}
#loading{
	color: #813772;
}
.progress-bar{
	background-color: #813772;
}
.home_thumbnail{
  max-width: 200px;
  max-height: 200px;
}
.home_pic{
  .col-xl-2
  .col-lg-3
  .col-md-4
  .col-sm-6
  .col-xs-12
}

#app-window{
	margin-top: 20px;
}

.photoShow{
	
}

span.glyphicon-step-backward {
	font-size: 3em;
	color: grey;
}

span.glyphicon-step-forward {
	font-size: 3em;
	color: grey;
}

span.glyphicon-fullscreen {
	font-size: 2em;
	color: grey;
}

span.glyphicon-resize-small {
	font-size: 2em;
	color: grey;
}

#authBtns{
	margin: 4px 4px;
    right: 50px;
    top: 40px;
    position: absolute;
}

#theatre{
	background-color: #000000;
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

#fullscreen-glyph {
    margin: 4px 4px;
    right: 0px;
    bottom: 0px;
    position: absolute;
}

#toggleAutoPlay {
	margin: 4px 4px;
    right: 0px;
    bottom: 0px;
    position: absolute;
}

