<page-header content="vm.pageHeader"></page-header>

<div id="addvspace"></div>

<div class="container row col-xs-12">
  <div class="col-sm-6 col-lg-4 vertical-center" id="blogsContainer">
    <table class="table table-striped">
      <thead>
        <tr><td>Title</td><td>Description</td><td>Date Created</td></tr>
      </thead>
      <tbody>
        <tr ng-repeat="blog in vm.blogData" ng-click="vm.goTo(blog._id)">
          <td>{{ blog.title }}</td>
          <td>{{ blog.description }}</td>
          <td>{{ blog.date_inserted |date:'yyyy-MM-dd' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!--
  <div class="col-sm-6 col-lg-8 vertical-center">
    <table class="table table-striped">
      <thead>
        <tr><td>Title</td><td>Author</td></tr>
      </thead>
      <tbody>
        <tr ng-repeat="blog in vm.blogsData" href="/#/blog/{{ blog._id }}">
          <td>{{ blog.title }}</td>
          <td>{{ blog.author }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-sm-8 col-lg-10">
    <div class="container">
      <p>{{ vm.blogData.body }}</p>
    </div>
  </div>
  -->
</div>
