extends layout

block content
  h1= pageHeader.title
  p #{pageHeader.strapline}

  each team in teams
    .row
      .col-xs-3
        a(href= team.url)
          img(src= team.team_logo)
      .col-xs-9
        h2= team.name
    - if(team.players){
    - var players = team.players
    each player in players
      .row
        .col-xs-3
          img(src= player.headshot.url)
        .col-xs-9
          h4= player.name.full
    - }
