<div class="container row">
  <h4>
    <button ng-click="vm.pauseplay()" class="btn btn-primary" id="pauseplay">
      <span class="glyphicon glyphicon-{{ vm.pauseplayIcon }}"></span>
    </button>
    &nbsp;
    {{ vm.pauseplayCap }}
  </h4>
</div>

<page-header content="vm.pageHeader"></page-header>

<div id="addvspace"></div>

<div class="container row col-xs-12">
  <div class="col-sm-6 col-lg-4 vertical-center">
    <table class="table table-striped">
      <thead>
        <tr><td>Title</td><td>Description</td><td>Date Created</td></tr>
      </thead>
      <tbody>
        <tr ng-repeat="blog in vm.blogData" ng-click="vm.goTo(blog._id)">
          <td>{{ blog.title }}</td>
          <td>{{ blog.description }}</td>
          <td>{{ blog.date_inserted |date:'yyyy-MM-dd' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div ng-show="vm.isLoggedIn" class="col-sm-6 col-lg-4 vertical-center">
    <h4 class="center-block">Welcome {{ vm.currentUser.screenname }}!!</h4>
    <button ng-click="vm.logout()" class="btn btn-primary center-block">Log Out</button>
  </div>
  <div ng-hide="vm.isLoggedIn" class="col-sm-6 col-lg-4 vertical-center">
    <a href="/login/?page={{ vm.currentPath }}" class="center-block"><button id="login-btn" class="btn btn-primary">Login</button></a>
  </div>
  <div class="col-sm-6 col-lg-4 vertical-center">
    <mwl-calendar
      view="vm.calendarView"
      view-date="vm.calendarDate"
      events="vm.events"
      view-title="vm.calendarTitle"
      on-event-click="eventClicked(calendarEvent)"
      on-event-times-changed="calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
      edit-event-html="'<i class=\'glyphicon glyphicon-pencil\'></i>'"
      delete-event-html="'<i class=\'glyphicon glyphicon-remove\'></i>'"
      on-edit-event-click="eventEdited(calendarEvent)"
      on-delete-event-click="eventDeleted(calendarEvent)"
      cell-is-open="true">
    </mwl-calendar>
  </div>
</div>

<div class="container">
  <video autoplay loop muted poster="{{ vm.img }}" class="full-background" id="bgvid">
    <source src="{{ vm.webm }}" type="video/webm"><!-- must be first format -->
    <source src="{{ vm.mp4 }}" type="video/mp4">
  </video>
</div>
