<div class="container row">
  <h4>
    <button ng-click="vm.pauseplay()" class="btn btn-primary" id="pauseplay">
      <span class="glyphicon glyphicon-{{ vm.pauseplayIcon }}"></span>
    </button>
    &nbsp;
    {{ vm.pauseplayCap }}
  </h4>
</div>

<page-header content="vm.pageHeader"></page-header>

<div id="addvspace"></div>

<div class="container row col-xs-12">
  <div class="col-sm-6 col-lg-4 vertical-center">
    <table class="table table-striped">
      <thead>
        <tr><td>Title</td><td>Description</td><td>Date Created</td></tr>
      </thead>
      <tbody>
        <tr ng-repeat="blog in vm.blogData" ng-click="vm.goTo(blog._id)">
          <td>{{ blog.title }}</td>
          <td>{{ blog.description }}</td>
          <td>{{ blog.date_inserted |date:'yyyy-MM-dd' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div ng-show="vm.isLoggedIn" class="col-sm-6 col-lg-4 vertical-center">
    <h4 class="center-block">Welcome {{ vm.currentUser.screenname }}!!</h4>
    <button ng-click="vm.logout()" class="btn btn-primary center-block">Log Out</button>
  </div>
  <div ng-hide="vm.isLoggedIn" class="col-sm-6 col-lg-4 vertical-center">
    <button id="login-btn" class="btn btn-primary center-block" href="/#login/?page={{ navvm.currentPath }}">Login</button>
  </div>
</div>

<div class="container">
  <video autoplay loop muted poster="{{ vm.img }}" class="full-background" id="bgvid">
    <source src="{{ vm.webm }}" type="video/webm"><!-- must be first format -->
    <source src="{{ vm.mp4 }}" type="video/mp4">
  </video>
</div>
